# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
ETL_env/
venv/
env/

# Logs
logs/
*.log



# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Docker volumes (jika ada)
docker/volumes/

# Build files
dist/
build/
*.egg-info/

# Database files (jika ada)
*.db
*.sqlite3

# Compiled files
*.pyc
*.pyo
*.pyd

# Coverage reports
.coverage
htmlcov/

